<div>
  <nav>
    <button class="btn btn-default" style="background-color:black; color:white;"><a href="/">NASA Api</a></button>
    <button class="btn btn-default" style="background-color:black; color:white;"><a href="/planets">Planets</a></button>
    <button class="btn btn-default" style="background-color:black; color:white;"><a href="/planets/new">New Planets</a></button>
  </nav>
</div>
